body {
  margin: 0;
  background: #666666;
  font-family: sans-serif;
}

.node {
  position: absolute;

  background: #444444;
  border-style: solid;
  border-width: 6px 0 0 0;
  border-radius: 8px;
  padding: 6px;
  margin: 0px;

  flex-direction: column;
  display: flex;

  row-gap: 2px;

  width: 300px;
  height: 200px;
}

.node.root {
  width: 600px;
}

.buttons {
  flex-direction: row;
  flex-grow: 0;
}

textarea {
  height: auto;
  background: #555555;
  color: #dddddd;
  border-radius: 8px;

  flex-grow: 1;
  resize: none;

  padding: 4px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.textdisplay {
  height: auto;
  background: #555555;
  color: #dddddd;
  border-radius: 8px;

  flex-grow: 1;
  overflow-y: auto;

  padding: 4px;
}

.textdisplay p {
  margin: auto;
  color: #dddd77;
}

.textdisplay p em {
  color: #bbbbbb;
}

.textdisplay:has(.ticker) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textdisplay .ticker {
  color: #00ff44;
  font-family: "Lucida Console", monospace;
  text-align: center;
}

button {
  background: #555555;
  box-shadow: none;
  margin-right: 4px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  color: #dddddd;
}

button:hover {
  background: #666666;
}

button:active {
  background: #444444;
}

button:disabled {
  background: #444444;
  color: #444444;
}

svg {
  position: absolute;
  display: block;
  pointer-events: none;
}
